In [4]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("df25_test.csv")

In [3]:
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'Income'],
      dtype='object')

In [7]:
with open("../Info/adult25.json", "r") as f:
    info = json.load(f)

In [8]:
data_df = pd.read_csv("df25_test.csv")

In [9]:
num_data = data_df.shape[0]
column_names = info['column_names'] if info['column_names'] else data_df.columns.tolist()

In [10]:
num_col_idx = info['num_col_idx']
cat_col_idx = info['cat_col_idx']
target_col_idx = info['target_col_idx']

In [15]:
def get_column_name_mapping(data_df, num_col_idx, cat_col_idx, target_col_idx, column_names = None):
    
    if not column_names:
        column_names = np.array(data_df.columns.tolist())
    

    idx_mapping = {}

    curr_num_idx = 0
    curr_cat_idx = len(num_col_idx)
    curr_target_idx = curr_cat_idx + len(cat_col_idx)

    for idx in range(len(column_names)):

        if idx in num_col_idx:
            idx_mapping[int(idx)] = curr_num_idx
            curr_num_idx += 1
        elif idx in cat_col_idx:
            idx_mapping[int(idx)] = curr_cat_idx
            curr_cat_idx += 1
        else:
            idx_mapping[int(idx)] = curr_target_idx
            curr_target_idx += 1


    inverse_idx_mapping = {}
    for k, v in idx_mapping.items():
        inverse_idx_mapping[int(v)] = k
        
    idx_name_mapping = {}
    
    for i in range(len(column_names)):
        idx_name_mapping[int(i)] = column_names[i]

    return idx_mapping, inverse_idx_mapping, idx_name_mapping

['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [16]:
idx_mapping, inverse_idx_mapping, idx_name_mapping = get_column_name_mapping(data_df, num_col_idx, cat_col_idx, target_col_idx, column_names)
num_columns = [column_names[i] for i in num_col_idx]
cat_columns = [column_names[i] for i in cat_col_idx]
target_columns = [column_names[i] for i in target_col_idx]

In [18]:
num_columns

['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [19]:
cat_columns

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

In [22]:
import numpy as np
train_df = data_df
X_num_test = train_df[num_columns].to_numpy().astype(np.float32)

# Columns check

In [25]:
import json

In [23]:
df = pd.read_csv("df25.csv")

In [24]:
df.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,35.0,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,1887.0,40.0,United-States,>50K
1,21.0,Private,Some-college,10.0,Never-married,Other-service,Not-in-family,White,Female,0.0,0.0,35.0,United-States,<=50K
2,23.0,Private,Bachelors,13.0,Never-married,Prof-specialty,Not-in-family,White,Female,0.0,0.0,16.0,United-States,<=50K
3,43.0,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
4,31.0,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,55.0,United-States,<=50K

In [28]:
with open("../Info/adult25.json", "r") as f:
    data_info = json.load(f)

In [30]:
data_info

{'name': 'adult25',
 'task_type': 'binclass',
 'header': 'infer',
 'column_names': [],
 'num_col_idx': [0, 3, 9, 10, 11],
 'cat_col_idx': [1, 2, 4, 5, 6, 7, 8, 12],
 'target_col_idx': [13],
 'file_type': 'csv',
 'data_path': 'data/adult25/df25.csv',
 'test_path': 'data/adult25/df25_test.csv',
 'column_info': {'age': 'float',
  'workclass': 'str',
  'education': 'str',
  'education-num': 'float',
  'marital-status': 'str',
  'occupation': 'str',
  'relationship': 'str',
  'race': 'str',
  'sex': 'str',
  'capital-gain': 'float',
  'capital-loss': 'float',
  'hours-per-week': 'float',
  'native-country': 'str',
  'Income': 'str'}}

In [32]:
cols = list(df.columns)
num_cols = [cols[i] for i in data_info["num_col_idx"]]

In [33]:
num_cols

['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [34]:
cat_cols = num_cols = [cols[i] for i in data_info["cat_col_idx"]]
cat_cols

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

In [35]:
cols[13]

'Income'

In [36]:
cols

['age',
 'workclass',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'Income']

In [2]:
import os
import sys
parent_dir = os.path.abspath('../..')
sys.path.append(parent_dir)

In [3]:
import numpy as np
import torch
import torch.nn as nn

from torch.utils.data import DataLoader
from torch.optim.lr_scheduler import ReduceLROnPlateau
import argparse
import warnings

import os
from tqdm import tqdm
import json
import time

from tabsyn.vae.model import Model_VAE, Encoder_model, Decoder_model
from utils_train import preprocess, TabularDataset

In [ ]:
data_name = "adult25"